body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Top Banner section */
.top-banner {
  padding: 16px;
  position: fixed;
  background-color: #fff;
  left: 0;
  right: 0;
  display: flex;
  box-shadow: 0px 1px 10px #828282;
  z-index: 1;
}

.logo {
  flex: 1;
}

.logo img {
  margin-bottom: -3px;
  height: 30px;
}

a {
  margin-right: 2px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  align-self: center;
  letter-spacing: .5px;
}

a:visited {
  color: #4F4F4F;
}

a:hover {
  color: #75A3BA;
}

/* Landing page runner image */
.background {
  height: 100vh;
  background: url(../images/Background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.onbackground {
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.sect1-percentage {
  margin: 20px;
  vertical-align: middle;
}

.sect1-stat span {
  font-size: 18px;
}

.sect1-stat {
  line-height: 38px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.sect1-stat p {
  margin: 20px;
  display: inline-block;
  vertical-align: middle;
}

.vertical-line {
  background-color: #3B8DBF;
  width: 2px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
}

.more {
  font-size: 14px;
  letter-spacing: 2.5px;
  position: absolute;
  bottom: 14px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.more p {
  margin: 7px;
}

/* Blue1 section - first blue colored section */
.blue-background {
  background-color: #3B8DBF;
  box-shadow: 0px 1px 10px #1A4456;
  text-align: center;
}

.blue-background .wrapper {
  display: inline-block;
}

.blue-background ul {
  text-align: left;
}

.container {
  padding: 96px;
}

.sect2 {
  margin: 0;
  padding-bottom: 25px;
  font-size: 26px;
  letter-spacing: .5px;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}

.sect2-1 {
  margin: 0 auto;
  padding-right: 40px;
  font-weight: 800;
  font-size: 22px;
  color: #ffffff;
  display: table;
}

.item1 {
  padding-bottom: 5px
}

/* White1 section - first white background section */
.sect3, .sect3-1, .sect5 {
  margin: 70px 0px 160px 0px;
  text-align: center;
}

.goals, table {
  color: #4F4F4F;
}

.chat-icon img, .chat-icon p {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

.chat-icon p {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  color: #4F4F4F;
}

.chat-icon img {
  margin-left: 20px;
  height: 100%;
}

.fitness-goals {
  text-align: center;
}

.flag {
  display: inline-block;
  vertical-align: middle;
}

.flag img {
  margin-right: 105px;
  height: 150px;
}

.goals p {
  margin: 0px 0px 10px 0px;
}

.goals {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 30px;
  text-align: left;
}

.list img, .list p {
  vertical-align: middle;
  display: inline-block;
}

.list p {
  margin: 3px;
  font-size: 20px;
}

.line-break {
  text-align: center;
}

.blue-line {
  margin: 170px 20% 0 20%;
  background-color: #3B8DBF;
  height: 1px;
}

/* White1 part2 of section */
table {
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  border-spacing: 4px;
  font-size: 18px;
  width: 500px;
  table-layout: fixed;
}

.h1, .h2 {
  margin-top: 5px;
  font-weight: 500;
}

/* first column from left to right */
.col-1 {
  padding-right: 15px;
  font-weight: 500;
  text-align: right;
}

.col-1a {
  padding-right: 15px;
  font-weight: 700;
  text-align: right;
}

/* second column from left to right */
.col-2 {
  background-color: #7A008640;
  width: 142px;
  height: 45px;
}

.col-2a {
  font-weight: 700;
  background-color: #7A008675;
  width: 142px;
  height: 45px;
}

/* third column from left to right */
.col-3 {
  background-color: #25006335;
  width: 142px;
  height: 45px;
}

.col-3a {
  font-weight: 700;
  background-color: #25006375;
  width: 142px;
  height: 45px;
}

.disclaimer {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
}

/* Blue2 section - second blue section  */
.verbiage {
  vertical-align: middle;
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  color: #4F4F4F;
}

.sect4 {
  margin: 0 0 10px 0;
  font-size: 26px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}

.sect4a {
  margin: 0;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
}

/* White2 section - second white Section */
.sect5-1, .sect5-2, .visit {
  display: inline-block;
}

.sect5-1, .sect5-2 {
  width: 100%;
  text-align: center;
}

.sect5-1 .part1, .sect5-2 .part1 {
  width: 305px;
}

.sect5-2 {
  margin-bottom: 250px;
}

.intencity, .interval {
  margin-left: 75px;
  margin-right: 75px;
}

.visit {
  margin-left: 75px;
}

.part1 {
  text-align: left;
  color: #4F4F4F;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3%;
  line-height: 30px;
  margin: 0px;
}

.part2 {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3%;
  vertical-align: top;
  color: #828282;
}

.gray1 {
  margin: 50px 0px 50px 0px;
  background-color: #BDBDBD;
  width: 50px;
  height: 1px;
}

.buttons {
  text-align: left;
  letter-spacing: 15px;
}

.gray2 {
  text-align: center;
  margin: 70px auto 60px auto;
  background-color: #BDBDBD;
  width: 100px;
  height: 1px;
}

/* Gray Section - gray background) */
.sect6 {
  padding: 100px 0px;
  background-color: #828282;
  color: #ffffff;
  text-align: center;
  /* box-shadow: 0px 1px 10px #828282; */
}

.sect6 span {
  font-style: italic;
}

.bold {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: .5px;
}

.regular {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .5px;
}

.email {
  border-radius: 25px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  width: 400px;
  height: 52px;
  border: #ffffff;
  color: #828282;
}

.sign-up {
  margin-left: 6px;
  border-radius: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  width: 120px;
  height: 52px;
  border: #77BDD9;
  background-color: #77BDD9;
  color: #ffffff;
}

input:focus {
  outline: 0;
}

input[type='text'] {
  padding: 0px 5px;
}

input[type='submit'] {
  box-shadow: 0px 2px 3px #00000090;
}

input[type='submit']:hover {
  background-color: #75A3BA;
  cursor: pointer;
  box-shadow: 0px 3px 3px #00000090;
}

input {
  font-size: 14px;
  text-align: center;
}

/* Footer Section - last Section */
.footer {
  padding: 100px 280px 100px 0px;
  text-align: center;
}

.share, .social-media {
  display: inline-block;
  text-align: left;
}

.share {
  color: #828282;
  display: inline-block;
  margin-right: 90px;
}

.reference {
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}

.share a:link,
.share a:visited,
.share a:hover,
.share a:active {
  color: #828282;
}

.share .websites {
  margin: 0px 0px 5px 0px;
}

.websites, .copyright {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: left;
}

.copyright {
  margin-top: 50px;
}

.social-media {
  vertical-align: top;
}

.social-media p {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
  color: #828282;
}

.social-media img {
  margin-right: 10px;
}

.share a, .social-media a {
  padding: 0;
}

/* Mobile view for Landscape screens */
@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
  .flag img {
    margin: 0px 31px 80px 0px;
  }

  .footer {
    padding: 100px 0px;
  }
}

/* Mobile view for Landscape screens */
@media only screen and (max-width: 823px) and (orientation: landscape) {
  .more {
    height: auto;
  }

  .sect1-percentage {
    width: 25%;
    display: inline-block;
  }

  .sect1-stat {
    font-size: 22px;
  }

  .sect1-stat span {
    font-size: 13px;
  }

  .sect2 {
    font-size: 22px;
  }

  .sect2-1 {
    font-size: 18px;
  }

  .container {
    padding: 60px;
  }

  .item1 {
    padding-bottom: 15px;
  }

  .sect3, .sect3-1, .sect5 {
    margin: 70px 0px 130px 0px;
  }

  .flag img {
    margin: 0 0 70px 0;
  }

  .blue-line {
    margin: 130px 20% 0 20%;
  }

  .visit {
    margin: 50px 0 0 0;
  }

  table {
    margin-bottom: 70px;
  }

  .sect4 {
    font-size: 22px;
  }

  .bold {
    margin: 0 70px;
  }

  .footer {
    margin: 20px;
    padding: 30px 0;
  }

  .websites {
    font-size: 10px;
  }

  .social-media {
    padding-top: 80px;
    display: block;
  }

  .social-media p {
    font-size: 16px;
  }

  .copyright {
    margin: 0;
    font-size: 10px;
  }

  .share {
    margin: 0;
    display: block;
  }
}

/* Mobile view for Portrait screens */
@media only screen and (min-width: 360px) and (max-width: 614px) {
  .background .onbackground {
    text-align: left;
  }

  .sect1-stat p {
    margin-top: 0;
  }

  .vertical-line {
    display: none;
  }

  .sect2 {
    font-size: 24px;
  }

  .sect2-1 {
    font-size: 20px;
  }

  .sect3, .sect3-1, .sect5 {
    margin: 70px 0 130px 0;
  }

  .chat-icon p {
    margin-left: 20px;
  }

  .container {
    padding: 40px;
  }

  .flag img {
    margin: 0px 0px 70px 0px;
  }

  .blue-line {
    margin: 130px 20% 0 20%;
  }

  table {
    margin-bottom: 70px;
    font-size: 10px;
    width: 300px;
    table-layout: fixed;
  }

  .local-icon img, .trainer-icon img {
    width: 45px;
    height: 45px;
  }

  .h1, .h2 {
    margin-top: 5px;
  }

  .col-1, .col-1a {
    padding-right: 15px;
  }

  .col-2, .col-2a, .col-3, .col-3a {
    width: 122px;
    height: 30px;
  }

  .sect4 {
    font-size: 22px;
  }

  .intencity, .interval, .visit {
    margin: 0;
  }

  .part1 {
    margin-top: 50px;
  }

  .bold {
    margin: 0 10px;
  }

  .regular {
    margin: 15px 10px;
  }

  .email {
    margin-bottom: 20px;
    width: 300px;
  }

  .footer {
    margin: 20px;
    padding: 30px 0;
  }

  .websites {
    font-size: 10px;
  }

  .social-media {
    padding-top: 80px;
    display: block;
  }

  .social-media p {
    font-size: 16px;
  }

  .copyright {
    margin: 0;
    font-size: 10px;
  }

  .share {
    margin: 0;
    display: block;
  }
}

/* Mobile view for Portrait screens */
@media only screen and (min-width:615px) and (max-width: 1113px) {
  .flag img {
    margin-right: 31px;
  }

  .visit {
    margin: 20px 0px 0px 39px;
  }

  .footer {
    padding: 50px 50px;
  }

  .copyright {
    margin: 0;
  }

  .copyright p {
    margin-top: 0;
  }

  .share {
    margin: 0;
    display: block;
  }

  .social-media {
    margin-top: 100px;
    display: block;
    text-align: left;
  }
}
